




// Speaker single


.speaker-single-wrap{
	p{
		font-size: 16px;
		line-height: 2;
	}
}

.social-single{
	a{
		margin-right: 10px;
		font-size: 22px;
	}
}

.skill-item i{
	font-size: 40px;
	display: inline-block;
	margin-bottom: 15px;
	color: $primary-color;
}