{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}


<section class="section-schedule section">
    <div class="container">
      <div class="row section-heading">
        <div class="col-lg-9">
          <div class="heading">
            <span class="stroke-text">{{ .Title }}</span>
            <div class="pl-90 content">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
   
      <div class="row">
          {{ range .Data.Pages }}
        <div class="col-12 col-md-4 px-3 mb-3">
          <div class="card h-100">
              <img src="/sgvirtual{{ .Params.Image }}" class="card-img-top" alt="..." width="200px" height="250px">
            <div class="card-body">
              <h3 class="card-title">{{ .Title }}</h3>        
              <h6 class="card-subtitle mb-4 text-muted">{{ .Params.Description }}</h6>
              
              </div>
              
     
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>

  


{{ partial "page-title.html" . }}

<div class="container">
    <div class="content mt-4">
        
    </div>  
    {{ range .Params.blocks }}
    <div class="schedule-block">
        <h3><span id="date-{{ .id }}">{{ .time_start }}</span></h3>
        <div class="session-list">
            {{ range sort (where (where $.Site.Pages "Section" "sessions") ".Params.block" .id ) ".Params.time_end" }}
            <div class="session-item {{ with .Params.format }}{{ . }}{{end}}">
                <div id="time-{{.Params.id}}" class="session-time">
                </div>
              
                <div class="session-info" style="background-color: #d0f0d6;">
                    <h4><a class="session-title" data-toggle="collapse" href="#abs-{{.Params.id}}">{{ .Params.title }}</a>{{ with .Params.language }}{{ if eq . "chinese" }} (Chinese){{ end }}{{ end }}</h4>
                    {{ with .Params.speakers }}<p class="speakers-list">Por {{ delimit . ", " " & " }}</p>{{ end }}
                    <div class="collapse card-abstract" id="abs-{{.Params.id}}">
                      {{ .Summary }}
                        <div><a href="{{.Permalink}}">Leer más ...</a></div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    {{ end }}
</div>
<br>
<script>
    function adjTime(elemId, timeStart, timeEnd, timeBlock) {
        let dateStart = new Date(Date.parse(timeStart));
        let dateEnd = new Date(Date.parse(timeEnd));
        let dateBlock = new Date(Date.parse(timeBlock));
        let adjString = dateStart.getHours()+":"+(('0'+dateStart.getMinutes()).slice(-2))+"-"+dateEnd.getHours()+":"+(('0'+dateEnd.getMinutes()).slice(-2));
        if (dateStart.getDay() > dateBlock.getDay()) {
          adjString += "<br /><em>(+1 day)</em>";
        }  
        document.getElementById(elemId).innerHTML=adjString;
    }
    function adjBlock(elemId, date1, language) {
        let parseDate1 = Date.parse(date1);
        let jsDate1 = new Date(parseDate1);
        var days = ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'];
        let adjString = days[jsDate1.getDay()]+", Junio "+jsDate1.getDate()+" ("+language+")";
        document.getElementById(elemId).innerHTML=adjString;
    }
        {{ range .Params.blocks }}
      {{ $block_start := .time_start | time  }}
      adjBlock("date-{{ .id }}", "{{ $block_start.Format "02 Jan 2006 15:04:05 MST" }}", "{{ humanize .language }}");
      {{ range sort (where (where $.Site.Pages "Section" "sessions") ".Params.block" .id ) ".Params.time_start" }}
        {{ $time_start := .Params.time_start | time  }}
        {{ $time_end := .Params.time_end | time  }}
        adjTime("time-{{ .Params.id }}", "{{ $time_start.Format "02 Jan 2006 15:04:05 MST" }}", "{{ $time_end.Format "02 Jan 2006 15:04:05 MST" }}", "{{ $block_start.Format "02 Jan 2006 15:04:05 MST" }}");
      {{ end }}  
    {{ end }}

</script>



  

{{ end }}





