{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}


<!-- speaker style 2 -->
<section class="speaker-2 section bg-gray">
  <div class="container">
    <div class="row section-heading">
      <div class="col-lg-6">
        <div class="heading">
          <span class="stroke-text">{{ .Title }}</span>
          <div class="pl-90 content">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
    <div class="speaker-strip">
      {{ range .Data.Pages.ByTitle }}
      <div class="speaker-item">
        <div class="speaker-block">
            <div class="headshot-box">
              <img src="/sgvirtual{{ .Params.Image }}" alt="{{ .Title }}" class="img-fluid">
              <img src="/sgvirtual/images/flags/{{ .Params.country }}.svg" class="flag-ribbon">    
            </div>
            <div class="speaker-info text-center">
              <h4 class="mb-0 mt-3"><a href="{{.Permalink}}">{{ .Title }}</a></h4>
              <p>{{ .Params.Designation}}</p>
            </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /speaker style 2 -->

{{ end }}